* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #ffffff, #ecfaff, #bcfbff, #7bffff, #4dffe9);
}



.container {
    margin-left: 20px;
    margin-right: 20px;
    padding: 2rem;
    width: auto;
    height: auto;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    /* border: 1px solid red; */
}

.container h1 {
    padding: 5px;
    margin-bottom: 20px;
    color: #284b63;
    font-size: 3rem;
    letter-spacing: 5px;
    /* border: 1px solid white; */
}

.container span {
    color: #284b63;
    font-size: 5rem;
}

.decrease-btn {
    border: 1px solid #284b63;
    background: transparent;
    padding: 5px;
    margin-right: 10px;
    border-radius: 50%;
}

.decrease-btn:hover {
    background-color: #284b63;
}

.reset-btn {
    padding: 5px 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: medium;
    font-weight: 900;
    border-radius: 9px;
    background: transparent;
    color: #284b63;
    border: none;
}

.reset-btn:hover {
    background-color: #284b63;
    color:#4dffe9;
}

.increase-btn {
    border: 1px solid #284b63;
    background: transparent;
    padding: 5px;
    margin-right: 10px;
    border-radius: 50%;
}

.increase-btn:hover {
    background-color: #284b63;
}